[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
pylint-django = "*"
pylint = "*"
flake8 = "*"
pytest-cov = "*"
pytest-django = "*"
black = "*"

[packages]
django = "==2.2.*"
psycopg2 = "*"
sorl-thumbnail = "*"
pillow = "*"
natsort = "*"
ratelimit = "*"
python-decouple = "*"
redis = "*"
django-simple-bulma = "*"
darkseid = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
