{% extends parent_template|default:"base.html" %}
{% load static %}

{% block title %}Issues{% endblock title %}

{% block content %}
  {% if issue_list %}
  <!-- hero -->
  <section class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-3">Issue{{ issue_list.count|pluralize }} List</h1>
      </div>
    </div>
  </section>
  <!-- end hero -->

  <!-- issue list -->
  <section>
    <div class="container">
      <!-- main column -->
      <div class="column">
        <div class="columns is-multiline">
          {% for issue in issue_list %}
            <div class="column is-one-quarter">
              <div class="card">
                <div class="card-header">
                  <p class="card-header-title is-centered">{{ issue }}</p>
                </div>
                <div class="card-image">
                  <figure class="image is-2by3">
                    <img src="{{ issue.image.url }}" alt="{{ issue }}"
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media-content">
                    <!-- TODO: Still need to hook-up the progressbar -->
                    <progress class="progress is-info" value="15" max="100"></progress>
                  </div>
                </div>
                <footer class="card-footer">
                  <a href="#" class="card-footer-item">Read</a>
                  <a href="{% url 'issue:detail' issue.slug %}" class="card-footer-item">Info<a>
                </footer>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <!-- end main column-->
    </div>
  </section>
  <!-- end issue list -->
  {% else %}
  <section>
    <div class="container">
      <p>No Issues currently available.</p>
    </div>
  </section>
  {% endif %}
{% endblock %}
