{% extends parent_template|default:"base.html" %}
{% load thumbnail %}
{% load static %}

{% block title %}Series{% endblock title %}

{% block content %}
  {% if series_list %}
  <!-- hero -->
  <section class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-3">Series List</h1>
      </div>
    </div>
  </section>
  <!-- end hero -->

  <!-- series list -->
  <section>
    <div class="container">
      <!-- navigation -->
      <nav class="level">
        <!-- search box -->
        <div class="level-left">
          <div class="level-item">
            <p class="subtitle is-5">
              {% if page_obj.paginator %}
                <strong>{{ page_obj.paginator.count }}</strong> Series
              {% else %}
                <strong>{{ series_list.count }}</strong> Series
              {% endif %}
            </p>
          </div>
          <div class="level-item">
            <form action="{% url 'series:search' %}" method="get" accept-charset="utf-8">
              <div class="field has-addons">
                <p class="control">
                  <input class="input" name="q" type="search" placeholder="Find a series">
                </p>
                <p class="control">
                  <button class="button">Search</button>
                </p>
              </div>
            </form>
          </div>
        </div>
        <!-- search box -->
      </nav>
      <!-- end navigation -->

      <!-- series column -->
      <div class="columns is-multiline">
        {% for series in series_list %}
          <div class="column is-one-quarter">
            <div class="card">
              <div class="card-header">
                <p class="card-header-title is-centered">{{ series }}</p>
              </div>
              <div class="card-image">
                <figure class="image is-2by3">
                  {% with cover=series.first_issue_cover %}
                    {% if cover %}
                      {% thumbnail cover "320x480" crop="center" format="WEBP" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="Cover for {{ series }}">
                      {% endthumbnail %}
                    {% else %}
                      <img src="{% static 'site/img/image-not-found.webp' %}" alt="No image for {{ series }}">
                    {% endif %}
                  {% endwith %}
                </figure>
              </div>
              <footer class="card-footer">
                {% with count=series.issue_count %}
                  {% if count %}
                    <p class="card-footer-item">{{ series.issue_count }} issue{{ count|pluralize }}</p>
                  {% endif %}
                {% endwith %}
                <a href="{% url 'series:detail' series.slug %}" class="card-footer-item">Info</a>
              </footer>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- end series column-->
    </div>
  </section>
  <!-- end series list -->
  {% else %}
  <section>
    <div class="container">
      <p>No Series currently available.</p>
    </div>
  </section>
  {% endif %}
{% endblock %}

{% block pagination %}
  {% include "comics/pagination.html" %}
{% endblock %}
