{% load django_simple_bulma %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% bulma %}
    {% font_awesome %}
  </head>
  <body class="has-navbar-fixed-top">
    {% include "navbar.html" %}

    {% block content %}{% endblock %}
  
    {% if is_paginated %}
    <section class="section">
      <div class="container">
        {% block pagination %}{% endblock %}
      </div>
    </section>
    {% endif %}

    {% block js %}{% endblock %}
  </body>
</html>